{% for p in products %}
  <div class="col-md-3 col-xl-3 col-sm-12 " style="margin-bottom:       35px;">                                                                                                                                                                                                                                                                                                                                                                                                                                              
   <div class="content">
     <div class="brp">
       <div class="content-overlay"></div>
     <div class="pimg">
       <img src="{{ p.thumbnail.url }}" class="d-block w-100" alt="image here">
     </div>
     <div class="text-center">
     <p class="title">{{ p.title|slice:":18" }}</p>
       <p class="price">N{{ p.price }}</p>
       <del class="price"><p>N5000</p> </del>
     </div>
     </div>
     <div class="content-details fadeIn-bottom">
       <a href="{% url 'product_detail' p.category.slug p.slug %}"> <i class="fas fa-eye"></i></a>
       <a href=""> <i class="fab fa-opencart"></i></a>
       <p class="content-text">Interest (2)</p>
     </div>
   </div>
 </div>
 {% endfor %}
