<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumplesaandco</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-grid.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <!-- <link rel="stylesheet" href="../assets/css/svg-with-js.min.css"> -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
    <script src="{% static 'assets/js/vue.js' %}"></script>
</head>
<body>
    <!-- firt section orange -->
    <div class="section color1">
        <div class="container">
          <!-- begining of navigation  -->
          <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="{% url 'frontpage'%}"><img src="{% static 'assets/img/logo.jpeg' %}" style="width: 25%;" alt=""></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'frontpage' %}">Home</a>
                </li>
                <li class=" nav-item dropdown">
                  <a class="dropbtn nav-link">Categories
                  </a>
                  <div class="dropdown-content dropdown-menu-full">
                    <div class="container">
                      <div class="row"  style="margin-top: 40px;">
                        <div class="col-md-7">
                          <div class="row">
                            {% for category in menu_categories %}
                            <div class="col-md-4 navbarhead">
                              <h5>{{category.title}}</h5>
                              {% if not category.children.all %}
                              {% else %}
                              <ul class="category_list">
                                {% for subcategory in category.children.all %}
                                <li><a href="{% url 'category_detail' subcategory.slug %}">{{ subcategory.title }}</a></li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-md-5 navbarhead">
                          {% for tag in menu_tags %}
                          <h5><a href="{% url 'category_detail' tag.slug %}">{{ tag.title }}</a></h5>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <form class="" action="{% url 'search' %}" method="GET">
                  <div class="form-group relative" >
                      <input type="text" class="form-control" name="query" placeholder="Search all your want">
                      <button class="button-reset color-inherit db o-60 absolute center-v right-1 hover-primary6"><i class="fas fa-search"></i></button>
                  </div>
                </form>
                  <div class="cart-circle"></div>
                  <a href="{% url 'cart' %}"><i class="fas fa-cart-arrow-down right"></i></a>
                  <div class="cart-count text-center " id="navbarapp">
                    <p>[[ numItems ]]</p>
                  </div>
                  {% if request.user.is_authenticated %}
				  <li class="nav-item active">
					<a class="nav-link" href="{% url 'myspec' %}">My Spec</a>
				  </li>
					{% else %}
						<div class="nav-item">
							<div class="buttons">
								<a href="{% url 'signup' %}" class="sign"><strong>Sign up</strong></a>
								<a href="{% url 'login' %}" class="sign">Log in</a>
							</div>
						</div>
					{% endif %}
                </div>
            </ul>
            </div>
        </nav>
      </div>
 </div>
			{% block content %}
      {% endblock %}

    {% include 'parts/newsletter.html' %}

		<!-- Footer -->
		  <footer>
		    <div class="container">
		      <div class="row">
		        <div class="col-md-3">
		          <h4>Contact Info</h4>
		          <p><b>Phone:</b>0812 729 0291 <br>
		            08025303822 <br>
		          </p>
		          <p><b>Address:</b> Suite 3, Flat 1
		            Lydia Close Odlli road
		            Port Harcourt.
		            We accept:
		          </p>
		        </div>
		        <div class="col-md-3">
		          <h4>Get Help</h4>
				  <p><a href="{% url 'delivery' %}">Delivery Information</a></p>
				  <p><a href="{% url 'conditions' %}">Sale Terms & Conditions</a></p>
				  <p><a href="{% url 'returns' %}">Returns and Refunds</a></p>
				  <p><a href="{% url 'faq' %}">Shopping FAQ's</a></p>
		        </div>
		        <div class="col-md-3 footer-cate">
		          <h4>Popular Categories</h4>
		          {% for cate in menu_categories %}
		            <a href="{% url 'category_detail' cate.slug %}"><p>{{ cate.title }}</p></a>
		          {% endfor %}
		        </div>
		        <div class="col-md-3">
		          <h4>Let’s stay in touch</h4>
		          <form action="">
		            <input type="tel" class="form-control form" placeholder="Your Email address">
		            <input type="submit" value="Get notified" class="btn btn-secondary form-btn">
		          </form>
		          <p>Keep up to date with our latest
		            news and special offers.</p>
		        </div>
		      </div>
		    </div>
		  </footer>

		<script src="{% static 'assets/js/vuex.js' %}"></script>
		<script>
			var store = new Vuex.Store({
				state: {
					numItems: {{ cart.get_total_length }},
					totalCost: {{ cart.get_total_cost }}
				},
				mutations: {
					increment(state, quantity) {
						state.numItems += quantity;
					},
					changeTotalCost(state, newCost) {
						state.totalCost += newCost
					}
				}
			});

			var navbarapp = new Vue({
				el: '#navbarapp',
				delimiters: ['[[', ']]'],
				store: store,
				data () {
					return {
						menuClass: false
					}
				},
				computed: {
					numItems: function() {
						return store.state.numItems
					}
				},
				methods: {
					toggleMenu() {
						console.log('toggleMenu');

						this.menuClass = !this.menuClass;
					}
				}
			});
		</script>

		{% block scripts %}
		{% endblock %}
	</body>
</html>
