{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<!-- begining of carusel -->
<div class="container">
  <div id="carouselContent" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselContent" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselContent" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-left p-4">
              <div class="row">
                <div class="col">
                  <h1 class="header-text">PICK & BUY
                  <br /> BEST OK DEALS
                  </h1>
                  <p class="para">Select pay! select pay! Start picking what your choice<br />
                  items, and pay before someone else finds them!</p><br />
                  <input type="button" class="btn btn-outline-primary bbtnx" value="START PICKING">
                </div>
                <div class="col">
                  <img src="{% static 'assets/img/banner/fashion-3259322_1920.jpg' %}" class="bimg para d-block w-100" alt="test">
                </div>
              </div>
          </div>
          <div class="carousel-item text-left p-4">
            <div class="row">
              <div class="col">
                <h1 class="header-text">BUY MORE
                <br /> AND PAY LESS
                </h1>
                <p class="para">Select pay! select pay! Start picking what your choice<br />
                items, and pay before someone else finds them!</p><br/>
                <input type="button" class="btn btn-outline-primary bbtnx" value="START PICKING">
              </div>
              <div class="col">
                <img src="{% static 'assets/img/banner/set1.jpg' %}" class="bimg para d-block w-100" alt="test">
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
<!-- end of carusel -->
<section>
  <div class="container">
    <div class="header">
      <h1 class="trend-pick">TRENDING PICK</h1>
    </div>
    <div class="row first-row">

    {% with products as list_products %}
        {% include 'parts/product_list.html' %}
    {% endwith %}
    <div class="text-center load-more">
                     <input type="button" class="btn btn-outline-primary load-more" value="LOAD MORE">
                   </div>
                 </div>
                 </div>
               </section>
         </div>
     </div>
     <!-- end of first section  -->
     <!-- Work collection -->
     <div class="container work-collection">
       <div class="row">
         <div class="col-md-6 col-sm-12">
           <div class="work">
               <h5 class="back-2-work">back to work collection</h5>
               <h1 class="start-shopping">Start shopping <br>your new <br>outfit</h1>
               <h1 class="outfit-price">N3999</h1>

               <input type="submit" class="btn btn-primary">
           </div>
         </div>
         <div class="col-md-6 col-sm-12 work-img">
           <img src="{% static 'assets/img/banner/model 1.png' %}" class="animate__animated animate__bounce animate_slow d-block w-100" alt="">
         </div>
       </div>
     </div>
     <!-- End of work collection -->

     <!-- First grade casual -->
     <div class="container first-grade">
       <div class="row">
         <div class="col-md-6 col-sm-12">
           <div class="fgc">
             <img src="{% static 'assets/img/banner/shoe-819363_1920.jpg' %}" class="animate__animated animate__bounce animate_slow d-block w-100" alt="">
           </div>
         </div>
         <div class="col-md-6 col-sm-12 first-grade">
           <div class="fgc-txt">
             <h5 class="back-2-work">First Grade casual</h5>
             <h1 class="start-shopping">Dressing Casual <br>Doesn't have to <br>be Expensive!</h1>
             <h1 class="outfit-price">N3999</h1>

             <input type="submit" class="btn btn-primary">
           </div>
         </div>
       </div>
     </div>
     <!-- end of first grade -->

     <!-- video section -->
     <div class="video">
       <video controls>
         <source src="{% static 'assets/video/VID-20201004-WA0005.mp4' %}" type="video/mp4">
         Your browser does not support HTML5 video.
       </video>
     </div>
     <!-- end of video section -->

     <!-- whatsapp section -->
     {% include 'parts/whatsapp.html' %}
     <!-- end of whatsapp section -->
     <!-- from IG -->
     <div class="instagram">
       <div class="container text-center">
         <h3 class="ig-experience">Share your Rumple Experience #Rumples</h3>
         <p> <img src="{% static 'assets/img/029-instagram.svg'%}" class="ig" alt=""> Follow <b>@Rumplesandco</b> for inspiration. </p>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-md-2 col-sm-12">
             <img src="{% static 'assets/img/download (2).jpeg' %}" class="d-block w-100" alt="">
           </div>
           <div class="col-md-2 col-sm-12">
             <img src="{% static 'assets/img/download (3).jpeg' %}" class="d-block w-100" alt="">
           </div>
           <div class="col-md-2 col-sm-12">
             <img src="{% static 'assets/img/images.jpeg'%}" class="d-block w-100" alt="">
           </div>
           <div class="col-md-2 col-sm-12">
             <img src="{% static 'assets/img/download (2).jpeg' %}" class="d-block w-100" alt="">
           </div>
           <div class="col-md-2 col-sm-12">
             <img src="{% static 'assets/img/download (3).jpeg' %}" class="d-block w-100" alt="">
           </div>
           <div class="col-md-2 col-sm-12">
             <img src="{% static 'assets/img/images.jpeg' %}" class="d-block w-100" alt="">
           </div>
         </div>
       </div>

     </div>
     <!-- end of IG section -->
     <!-- horizontal line -->
     <div class="container">
       <hr>
     </div>
     <!-- end of horizontal line -->
   {% endblock %}
